<!DOCTYPE html>

<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layouts/base.html" %}

<!-- CONTENT (in <body>), content for this page -->
{% block body %}

<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">DONATE</span>
    </header>

    <img src="/static/assets/athleticfoundation.jpeg" style="width: 800px">
</div>

<div class="container py-4">
    <p>The mission of the DNHSAF is to provide support for all Del Notre High School athletic teams. Working with leaders in the secondary school community, youth sports organizations, and local businesses we will engage the greater Del Sur and 4S community to support our athletes. Giving our student-athletes every opportunity to compete and win will increase the visibility of all teams, raising the profile of our athletic programs and Del Norte High School. A top tier athletic program, college and university recruiting and acceptance, and employment with local, national and global companies for DNHS student athletes are all goals of the club. Tax ID # 83 2106687.</p>
    <p style="font-weight: bold">If you would like to donate to the DNHS Boys Volleyball Program please visit https://delnortehsaf.org/contact/ and use the information under "Reach Us". Another option would be to send us a message under your name and contact information. We look forward to hearing from you!</p>
</div>

{% endblock %}