<!DOCTYPE html>
{% extends "layouts/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>The mission of the DNHSAF is to provide financial and material support for all Del Notre High School athletic teams. Working with leaders in the secondary school community, youth sports organizations, and local businesses we will engage the greater Del Sur and 4S community to support our athletes. Giving our student-athletes every opportunity to compete and win will increase the visibility of all teams, raising the profile of our athletic programs and Del Norte High School. A top tier athletic program, college and university recruiting and acceptance, and employment with local, national and global companies for DNHS student athletes are all goals of the club.&nbsp;Tax ID # 83 2106687.</p>
</body>
</html>