{% extends "layouts/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock %}

{% block body %}

<div style = " margin: 2% 5% 5% 2%; text-align:left;">
    <div>
        <h1 style id="welcome">Welcome to the WISD Website!</h1>
        <p style id="aboutus"><mark>The people who created this fun website are Allison Huang, Bria Gilliam, Christina Lee, David Xie, and Kaavya Raamkumar. This website was created to support the Del Norte Boys Lacrosse Team </mark></p>
        <p style id="training"> Feel free to explore the website and have fun! </p>
    </div>
</div>

<style>
    body {
        background-image: url("../../../static/img/istockphoto-1128952509-612x612.jpg")}
    #welcome{
        position: relative;
        left: 100px;
        font-family: 'Impact';
        font-size: 60px;
        font-weight: 900;
        text-align: left;
        padding: 30px;
        color: #ff00ff;
    }
    #aboutus{
        position: relative;
        left: 100px;
        font-family: 'Helvetica';
        font-size: 20px;
        font-weight: 200;
        text-align: left;
        padding: 20px;
        color: #9999ff;
    }
    #training{
        position: relative;
        left: 100px;
        font-family: 'Impact';
        font-size: 25px;
        font-weight: 200;
        text-align: left;
        padding: 20px;
        color: #000000;
    }
</style>

{% endblock %}