{% extends "layouts/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <div align="center">
        <img width="817" height="369" src="/static/assets/vlax.jpg">
    </div>

    <div style="margin: 2% 17% 5% 17%; padding-top: 16px; margin-top: 32px; border-top: 1px solid #eeece8;">
        <p style="font-size: medium;">Welcome to the DNHS Boys Lacrosse 2022 season. Please check here frequently for updates to the season schedule and important information. Go Nighthawks!</p>
    </div>

{% endblock %}