<!DOCTYPE html>
{% include "layouts/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lacrosse Teams Roster</title>
</head>
{% block body %}
<body>

<h1><b>DNHS Boy's Lacrosse Team Players Roster</b></h1>

<table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Position(s)</th>
        <th>Grade</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ishan Kapoor</td>
        <td>Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tendo Thom-goulding</td>
        <td>Long-Stick Midfielder</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Luis Gama</td>
        <td>Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Quinn Bireley</td>
        <td>Midfielder</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Grant Lasho</td>
        <td>Unknown</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Trent Cardall</td>
        <td>Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Jacob Smith</td>
        <td>Midfielder</td>
        <td>Senior (12th grade)</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Wesley Osborn</td>
        <td>Attacker</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Nick Welch</td>
        <td>Attacker, Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Paul DiPasquale</td>
        <td>Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Jackson Lewis</td>
        <td>Unknown</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Sam Mcclintock</td>
        <td>Midfielder</td>
        <td>Sophomore (10th grade)</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Alex Tsai</td>
        <td>Defense</td>
        <td>Sophomore (10th grade)</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Alexander Biebel</td>
        <td>Attacker, Midfielder</td>
        <td>Senior (12th grade)</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Dylan Koshi</td>
        <td>Long-Stick Midfielder</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Gavin Mcdonald</td>
        <td>Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Peyton Breaux</td>
        <td>Attacker, Midfielder</td>
        <td>Senior (12th grade)</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Kyle Sullivan</td>
        <td>Midfielder</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Ryan Federhart</td>
        <td>Midfielder</td>
        <td>Sophomore (10th grade)</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Nash Souza</td>
        <td>Midfielder</td>
        <td>Senior (12th grade)</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Nathan Seidenwurn</td>
        <td>Defense, Long-Stick Midfielder</td>
        <td>Sophomore (10th grade)</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Noah Keller</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>29</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>31</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Shane Hansen</td>
        <td>Defenseman</td>
        <td>Freshman (9th grade)</td>
    </tr>
</table>
<h3>For full roster, click <a href="https://www.maxpreps.com/ca/san-diego/del-norte-nighthawks/lacrosse/roster/">this link</a></h3>

</body>
{% endblock %}
</html>