<!DOCTYPE html>
{% include "layouts/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lacrosse Teams Roster</title>
    <style>
        h2 {text-align: left;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
{% block body %}
<body>

<style>
    body { background-color: white; }
    th, td {
        text-align: center;
        line-height: 40px;
        border: 1px solid;
        width: 200px;
    }
    table {
        border-spacing: 1px;
        margin-left: 50px;
    }
</style>

<h2>Varsity</h2>
<table>
    <tr>
        <th>Player Number</th>
        <th>Position</th>
        <th>Player</th>
        <th>Grade</th>
    </tr>
    <tr>
        <td>1</td>
        <td>M</td>
        <td>Ishan Kapoor</td>
        <td>Junior (11th grade)</td>
    </tr>
    <tr>
        <td>2</td>
        <td>LSM</td>
        <td>Tendo Thom-goulding</td>
    </tr>
    <tr>
        <td>3</td>
        <td>M</td>
        <td>Luis Gama</td>
    </tr>
    <tr>
        <td>4</td>
        <td>M</td>
        <td>Quinn Bireley</td>
    </tr>
    <tr>
        <td>6</td>
        <td>DM</td>
        <td>Shane Hansen</td>
    </tr>
    <tr>
        <td>7</td>
        <td> </td>
        <td>Grant Lasho</td>
    </tr>
    <tr>
        <td>8</td>
        <td>M</td>
        <td>Trent Cardall</td>
    </tr>
    <tr>
        <td>9</td>
        <td>M</td>
        <td>Jacob Smith</td>
    </tr>
    <tr>
        <td>9</td>
        <td>A</td>
        <td>Wesley Osborn</td>
    </tr>
    <tr>
        <td>10</td>
        <td>A, M</td>
        <td>Nick Welch</td>
    </tr>
    <tr>
        <td>11</td>
        <td>M</td>
        <td>Paul Dipasquale</td>
    </tr>
    <tr>
        <td>12</td>
        <td> </td>
        <td>Jackson Lewis</td>
    </tr>
    <tr>
        <td>13</td>
        <td>M</td>
        <td>Sam Mcclintock</td>
    </tr>
    <tr>
        <td>14</td>
        <td>D</td>
        <td>Alex Tsai</td>
    </tr>
    <tr>
        <td>15</td>
        <td>A,M</td>
        <td>Alexander Biebel</td>
    </tr>
    <tr>
        <td>16</td>
        <td>LSM</td>
        <td>Dylan Koshi</td>
    </tr>
    <tr>
        <td>17</td>
        <td>M</td>
        <td>Gavin Mcdonald</td>
    </tr>
    <tr>
        <td>18</td>
        <td>A,M</td>
        <td>Peyton Breaux</td>
    </tr>
    <tr>
        <td>19</td>
        <td>M</td>
        <td>Kyle Sullivan</td>
    </tr>
    <tr>
        <td>20</td>
        <td>M</td>
        <td>Ryan Federhart</td>
    </tr>
    <tr>
        <td>21</td>
        <td>M</td>
        <td>Nash Souza</td>
    </tr>
    <tr>
        <td>22</td>
        <td>D,LSm</td>
        <td>Nathan Seidenwurn</td>
    </tr>
    <tr>
        <td>23</td>
        <td>D,A</td>
        <td>Noah Keller</td>
    </tr>
    <tr>
        <td>24</td>
        <td>M</td>
        <td>John Ware</td>
    </tr>
    <tr>
        <td>25</td>
        <td>A</td>
        <td>Colin O'neal</td>
    </tr>
    <tr>
        <td>26</td>
        <td>LSM</td>
        <td>Emilio Verastegui</td>
    </tr>
    <tr>
        <td>27</td>
        <td>A, M</td>
        <td>Elliot Anderson</td>
    </tr>
    <tr>
        <td>28</td>
        <td>D</td>
        <td>Mason Gizicki</td>
    </tr>
    <tr>
        <td>30</td>
        <td>M</td>
        <td>Ryan Goldstein</td>
    </tr>
    <tr>
        <td>32</td>
        <td>G</td>
        <td>Conor Holman</td>
    </tr>
    <tr>
        <td>34</td>
        <td>D</td>
        <td>Marlowe Ashton</td>
    </tr>
</table>


<h2>JV</h2>
<table>
    <tr>
        <th>Player Number</th>
        <th>Position</th>
        <th>Player</th>
    </tr>
    <tr>
        <td>1</td>
        <td>M</td>
        <td>Patrick Hastings</td>
    </tr>
    <tr>
        <td>2</td>
        <td>A</td>
        <td>Quinn Bireley</td>
    </tr>
    <tr>
        <td>3</td>
        <td>M</td>
        <td>Ryan Pham</td>
    </tr>
    <tr>
        <td>6</td>
        <td>M</td>
        <td>Ameer Hussain</td>
    </tr>
    <tr>
        <td>7</td>
        <td>M</td>
        <td>Jadon Lee</td>
    </tr>
    <tr>
        <td>9</td>
        <td>A</td>
        <td>Wesley Osborn</td>
    </tr>
    <tr>
        <td>10</td>
        <td>A</td>
        <td>AJ Daquino</td>
    </tr>
    <tr>
        <td>11</td>
        <td>M</td>
        <td>Parker Nowak</td>
    </tr>
    <tr>
        <td>12</td>
        <td>M</td>
        <td>Collin Owsley</td>
    </tr>
    <tr>
        <td>13</td>
        <td>M</td>
        <td>Shane Baranov</td>
    </tr>
    <tr>
        <td>14</td>
        <td>M</td>
        <td>Tanner Tremmel</td>
    </tr>
    <tr>
        <td>15</td>
        <td>M</td>
        <td>Ben Stephenson</td>
    </tr>
    <tr>
        <td>16</td>
        <td>M</td>
        <td>Dylan Koshi</td>
    </tr>
    <tr>
        <td>18</td>
        <td>M</td>
        <td>Ryan Stout</td>
    </tr>
    <tr>
        <td>19</td>
        <td>D</td>
        <td>Cesare Farace</td>
    </tr>
    <tr>
        <td>20</td>
        <td>A</td>
        <td>Tristan Kyle</td>
    </tr>
    <tr>
        <td>21</td>
        <td>M</td>
        <td>Josh Messick</td>
    </tr>
    <tr>
        <td>22</td>
        <td>D</td>
        <td>Rey Lowenthal</td>
    </tr>
    <tr>
        <td>24</td>
        <td>M</td>
        <td>Luke Dixon</td>
    </tr>
    <tr>
        <td>25</td>
        <td>M</td>
        <td>Sohan Sankuratri</td>
    </tr>
    <tr>
        <td>26</td>
        <td>M</td>
        <td>Camden Bradshaw</td>
    </tr>
    <tr>
        <td>27</td>
        <td>M</td>
        <td>Shane Hansen</td>
    </tr>
    <tr>
        <td>36</td>
        <td>M</td>
        <td>Kinish Sathish</td>
    </tr>
    <tr>
        <td>37</td>
        <td>D</td>
        <td>Chase Dana</td>
    </tr>
    <tr>
        <td>38</td>
        <td>M</td>
        <td>Matthew Sun</td>
    </tr>
</table>

<h2>Top 5 Boys Lacrosse Teams</h2>

<table>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>State</th>
        <th>Top Players</th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=101833">LI Legacy TAZ (2024)</a></td>
        <td>NY</td>
        <td>Quinn Whipple (A), Tyler Shanahan (D), Tyler Eye (LSM), and Jake Gallose (A)</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=106814">Ascension (2024)</a></td>
        <td>PA</td>
        <td>Jack Long (M), Ross Prince (FO), John Majka (M), and Ryan Traynor (M)</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=100142">3d New England Red (2024)</a></td>
        <td>MA</td>
        <td>Logan Styles (D), Ralph Vogel (M), Mac O'Neil (D), and Mike Hanlon (M)</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=101017">Denver Elite Silver (2024)</a></td>
        <td>CO</td>
        <td>Joost de Koning (LSM), Joost deKoning (D), Spencer Day (G), and Fred Fulkerson (A)</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=100910">Baltimore Crabs (2024)</a></td>
        <td>MD</td>
        <td>Quintan Kilrain (D), JP Henry (A), Dylan Cadigan (G), and Jayden Hardnett (M)</td>
    </tr>
</table>
<h3>For full roster, click <a href="https://www.usclublax.com/rank?v=1024&alpha=N&y=2021">this link</a></h3>
<h3>For full players roster of all boy's lacrosse teams, click <a href="https://www.insidelacrosse.com/recruiting/club/2023/2022">this link</a></h3>

<h2>Top 5 Girls Lacrosse Teams</h2>

<table>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>State</th>
        <th>Top Players</th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=501255">Yellow Jacket Spallina (2025)</a></td>
        <td>NY</td>
        <td>Jessica Black (G), Emma Brown (D), Madison Cucciniello (D), and Jamie Elliott (M)</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=501329">M&D Black (2025)</a></td>
        <td>MD</td>
        <td>Dakota Uy (M), Kori Edmondson (M), Bella Saviano (M), Mae Marshall (D)</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=500917">Hero's Green (2025)</a></td>
        <td>MD</td>
        <td>Anna Regan (M), Catherine Taylor (D), Jenna Vetter (A), and Jenelle Balchune (G)</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=502014">Sky Walkers Blue (2025)</a></td>
        <td>MD</td>
        <td>Merrill Watson (M), Grayson Woodward (A), Brigid Vaikness (M), and Mary Claire Heubeck (M)</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=501846">Prime Time (2025)</a></td>
        <td>NY</td>
        <td>Catherine Berkery (A), Olivia Shinsato (G), Lucy Gomez (G), and Sabine Godwin (D)</td>
    </tr>
</table>
<h3>For full roster, click <a href="https://usclublax.com/rank?v=2025&alpha=N&y=2020">this link</a></h3>
<h3>For full players roster of all girl's lacrosse teams, click <a href="https://www.insidelacrosse.com/recruiting/club/2023/2022/girls">this link</a></h3>

</body>
{% endblock %}
</html>