<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lacrosse Teams Roster</title>
</head>
<body>

<h1>Top 5 Boys Lacrosse Teams</h1>

<table>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>State</th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=101833">LI Legacy TAZ (2024)</a></td>
        <td>NY</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=106814">Ascension (2024)</a></td>
        <td>PA</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=100142">3d New England Red (2024)</a></td>
        <td>MA</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=101017">Denver Elite Silver (2024)</a></td>
        <td>CO</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://www.usclublax.com/team_info.php?y=2021&t=100910">Baltimore Crabs (2024)</a></td>
        <td>MD</td>
    </tr>
</table>
<h2>For full roster, click <a href="https://www.usclublax.com/rank?v=1024&alpha=N&y=2021">this link</a></h2>

<h1>Top 5 Girls Lacrosse Teams</h1>

<table>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>State</th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=503778">Indy United 14U - 2025/2026</a></td>
        <td>IN</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=503820">802 Girls Lacrosse (2025)</a></td>
        <td>VT</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=503817">Albany Power (2025)</a></td>
        <td>NY</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=503753">Aces 2025 Pink</a></td>
        <td>NY</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a href="https://usclublax.com/team_info.php?y=2020&t=502776">Minnesota Yeti Blue (2025)</a></td>
        <td>MN</td>
    </tr>
</table>
<h2>For full roster, click <a href="https://usclublax.com/rank?v=2025&alpha=N&y=2020">this link</a></h2>

</body>
</html>